<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Task</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 font-sans">
    <div
      class="max-w-lg mx-auto p-6 bg-white rounded-lg shadow-md mt-32 justify-between items-center"
    >
      <h1 class="text-2xl font-bold text-center text-blue-600 mb-6">
        Create New Task
      </h1>
      <form action="/create/" method="post" class="space-y-4">
        {% csrf_token %}
        <div>
          <input
            type="text"
            name="title"
            placeholder="Enter your todo"
            class="w-full border-2 border-gray-300 rounded-lg p-2 text-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
        </div>
        <div>
          <input
            type="submit"
            value="Create"
            class="w-full bg-blue-600 text-white py-2 px-2 rounded-lg font-medium hover:bg-blue-700 transition duration-300"
          />
        </div>
      </form>
    </div>
  </body>
</html>
